<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

      
<link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">

    <link rel="stylesheet" href="../stylesheets/style.css" />

  <title>Add New Book</title>
</head>
<body>


  <form action="/books" method="POST">
  <h2>Add a Book</h2>
 
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required />
  
    <label for="category">Category</label>
    <input type="category" name="category" id="category" required />

    <label for="description" >Description</label>
    <textarea name="description" id="description"  rows="3" required></textarea>

    <label for="image" > Book Image URL</label>
    <input type="text" name="image" id="image" required />

  <button type="submit">Add Book</button>
</form>



</body>
</html>