<%- include('../partials/head') %>
<%- include('../partials/nav') %>
<div class="container mt-4">
  <h2>Add a Book</h2>
  <form action="/books" method="POST">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" name="title" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Category</label>
      <input type="text" name="category" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea name="description" rows="3" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">Book Image URL</label>
      <input type="text" name="image" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Add Book</button>
  </form>
</div>
</body></html>