
<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<div class="welcome-div">
<% if (user) { %>
<h1>Welcome to the app, <%= user.username %>!</h1>
<a href="/auth/sign-out">Sign out</a>
<a href="/books">View All Books</a>
<% } else { %>
<h1>Welcome to the app, guest.</h1>

<div class="sign">
 <a href="/auth/sign-up"><button>Sign up</button></a>
 <a href="/auth/sign-in"> <button>sign in</button> </a>
</div>
<% } %>
</div>
</body>
</html>