<%- include('./partials/head') %>
<%- include('./partials/nav') %>
<div class="container mt-5">
  <div class="welcome">
  <% if (user) { %>
    <h1>Welcome, <%= user.username %>!</h1>
    <a href="/books" class="btn btn-success" id="view-all">View All Books</a>
  <% } else { %>
    <h1>Welcome, guest.</h1>
    <a href="/auth/sign-up" class="btn btn-success">Sign Up</a>
    <a href="/auth/sign-in" class="btn btn-success">Sign In</a>
  <% } %>
  </div>
</div>
</body></html>