.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 20px;
 margin-top:20px;
}

.container ul,li{

  list-style: none;
  text-decoration: none;
}
img{
  max-width: 200px;
  margin: 20px
}

a{
  text-decoration: none;
  color: black
}

.sign , button
{
width: 400px;
align-items: center;
text-align: center;
margin: 10px,auto;
}